
MartianRobot/MartianRobot.ConsoleApp/obj/Debug/MartianRobot.ConsoleApp.pdb
MartianRobot/MartianRobot.ConsoleApp/obj/Debug/MartianRobot.ConsoleApp.exe
MartianRobot/MartianRobot.ConsoleApp/obj/Debug/MartianRobot.ConsoleApp.csprojAssemblyReference.cache
MartianRobot/MartianRobot.ConsoleApp/obj/Debug/MartianRobot.ConsoleApp.csproj.FileListAbsolute.txt
MartianRobot/MartianRobot.ConsoleApp/obj/Debug/MartianRobot.ConsoleApp.csproj.CoreCompileInputs.cache
MartianRobot/MartianRobot.ConsoleApp/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
MartianRobot/.vs/MartianRobot/v16/.suo
MartianRobot/MartianRobot.ConsoleApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
